#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item],
.main-navigation .main-nav  .tavi-quad-menu-item  ul li[class~=menu-item]{
    background-color: #BCCCD5;
}
#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item] .quadmenu-title,
.main-navigation .main-nav  .tavi-quad-menu-item  ul li[class~=menu-item] a
{
    color: var(--dark-grey);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
}
#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item] p>strong,
.main-navigation .main-nav  .tavi-quad-menu-item  ul li[class~=menu-item] a{
    color: var(--dark-grey);
}