/*
    Secondary menu
*/
#quadmenu_0{
    width: 1140px !important;
    margin: auto;
    text-align: right;
}

#quadmenu_0 ul.quadmenu-navbar-nav{
    text-align: right !important;
}
/*
    Primary Manu
*/

#quadmenu_1{
    padding-left: 136px !important;
}

#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item],
.main-navigation .main-nav  .tavi-quad-menu-item  ul li[class~=menu-item]{
    background-color: #BCCCD5;
}
#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item] .quadmenu-title,
#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item] .quadmenu-text,
.main-navigation .main-nav  .tavi-quad-menu-item  ul li[class~=menu-item] a
{
    color: var(--dark-grey);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
}
#quadmenu .tavi-quad-menu-item li[class~=quadmenu-item] p>strong,
.main-navigation .main-nav  .tavi-quad-menu-item  ul li[class~=menu-item] a{
    color: var(--dark-grey);
}

.quadmenu-navbar-header{
    width: 0;
}

#quadmenu.quadmenu-is-horizontal.js .quadmenu-container .quadmenu-navbar-header a.quadmenu-navbar-brand {

}
#quadmenu a.quadmenu-navbar-brand img {
    
    height: 114px !important;
    width: 87px !important;
    max-width: 87px;
    max-height: 114px;
    object-fit: cover;
    z-index: 1000000 !important;
    position: absolute;
    top: -11px;
    right: -87px;
}

#quadmenu.quadmenu-is-horizontal.quadmenu-align-right .quadmenu-navbar-nav{
    text-align: left !important;
}

#quadmenu .quadmenu-navbar-nav li.quadmenu-item>.quadmenu-dropdown-menu{
    z-index: auto;
}

#quadmenu .quadmenu-item-level-0{
    border-bottom: 5px solid transparent;
}

#quadmenu .quadmenu-item-level-0.current-menu-ancestor, #quadmenu .quadmenu-item-level-0.current-menu-item{
    border-bottom: 5px solid white;
    background-color: #8AA6B6;
}

.current-menu-item + li.quadmenu-item-level-0.current-menu-ancestor {
    border-bottom: 5px solid transparent !important;
    background-color: transparent !important;
}

.quadmenu-sticky-top .quadmenu-navbar-brand.img{
    visibility: hidden;
}

.elementor-lightbox-image{
    background-color: white;
    padding: 2%;
}

span.quadmenu-cart-total::after {
    content: "Basket";
    text-transform: capitalize;
    font-family: Merriweather Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

span.woocommerce-Price-amount.amount {
    display: none;
}

input.search-field{
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    width:100%;
}

.search-form label{
    width: 100%
}

.search-submit{
    display: none
}

.secondary-navigation {
    background-color: var(--neutral-blue) !important;
}

#quadmenu.quadmenu-is-horizontal.quadmenu-align-right .quadmenu-navbar-header{
    z-index: 99999;
}

#quadmenu:not(.quadmenu-sticky-top){
    z-index: inherit !important;
}

a.elementor-button.elementor-button--checkout.elementor-size-md{
    display:none;
}

.elementor-menu-cart__subtotal, .elementor-menu-cart__product-price.product-price, .elementor-menu-cart__product-remove.product-remove, .quadmenu-bottom-text, .elementor-menu-cart__product-price.product-price{
    display: none;
}

.quadmenu-dropdown-menu .quadmenu-item-object-column:nth-of-type(2) .quadmenu-item:first-of-type .quadmenu-text{
    font-weight: 700;
}

.menu-coming-soon:after{
    content: 'Coming soon';
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    color: #898D8D;
}

nav.secondary-navigation{
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    background-color: var(--neutral-blue);
}

.elementor-location-header{
    position: fixed;
    top: 40px;
    z-index: 99999;
}

#wpadminbar ~ .elementor-location-header{
    top: 72px;  
}

#wpadminbar ~ nav.secondary-navigation{
    top: 32px;
}

#page{
    margin-top: 100px;
}

/*span.elementor-button-text{
    border: 1px solid white;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 15px 15px;
}*/